<link rel="import" href="../core-icon/core-icon.html">
<link rel="import" href="../core-iconset-svg/core-iconset-svg.html">
<core-iconset-svg id="tips-overlay" iconSize="24">
<svg><defs>
<g id="question-mark"><path fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M12.411,16.777 c0-0.649,0.074-1.742,1.173-2.934c1.048-1.133,2.935-2.896,2.935-4.694c0-2.348-1.186-4.108-4.107-4.108 c-2.595,0-4.108,2.099-4.108,4.694"/><line fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="12.411" y1="19.125" x2="12.411" y2="19.125"/><circle fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" cx="12.168" cy="11.734" r="10.668"/></g>
</defs></svg>
</core-iconset-svg>
